body {
    background-color: lightgreen;
    display: block;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;

}

.instructionsText {
    display: flex;
    justify-content: center;
    font-size: large;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

#board {
    width: 90vw;
    height: 80vh;
    border: 1px solid black;
    position: relative;
    overflow: hidden;
}

img {
    width: 100%;
    height: 100%;
}

#flappyPhoto {
    width: 100%;
    height: 100%
}


#bird {
    position:absolute;
    background-color: red;
    border-radius: 50%;
}

.topObstacle {
    position:absolute;
    background-color: blueviolet;
}

.bottomObstacle {
    position:absolute;
    background-color: blue;
}