body {
    background-color: lightblue;
    display: block;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
}

#board {
    width: 90vw;
    height: 80vh;
    border: 1px solid black;
    background-color: aquamarine;
    position: relative;
    
}

/*
Remeber to hide the overflow once testing is finished.
*/

#bird {
    position:absolute;
    background-color: red;
}

.topObstacle {
    position:absolute;
    background-color: blueviolet;
}

.bottomObstacle {
    position:absolute;
    background-color: blue;
}