body {
    background-color: lightgreen;
    display: block;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    height: 100%;
}

.instructionsText {
    display: flex;
    justify-content: center;
    font-size: large;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

#title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;

}

#board {
    width: 99vw;
    height: 80vh;
    border: 1px solid black;
    position: relative;
    overflow: hidden;  
}

#flappyPhoto {
    width: 110%;
    height: 110%
}

#resultsContainer {
    position: absolute;
    font-size: larger;
    font-family:Arial, Helvetica, sans-serif
}

/*/////////////
GAMEOVER
//////////////*/

.gameoverHeaders {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    z-index: 4;
    padding-top: 20vh;
    
}

.GObackgroundPhoto {
    height: 100vh;
    width: 100vw;
    position:absolute;
}

#gameoverBody {
    display: flex;
    flex-direction: column;

}

#gameoverTitle {
    text-transform: uppercase;
    font-size: 400%;
    margin-bottom: 2vh;
      
}

#playAgain {
    font-size: x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 3vh;
}

#scoreDisplay { 
    font-size: 200%;
}


